[user]
	name = David Ferland
	email = david.ferland.swe@gmail.com
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
[pull]
	rebase = false
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
